<!DOCTYPE html>
<html>
<head>
    <title>Data Ingestion App</title>

    <!-- CORRECT way to load CSS in Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Universal Data Ingestion System</h1>

    <h2>Upload Dataset</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="text" name="table" placeholder="Table name" required>
        <button type="submit">Upload & Store</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    <hr>

    <h2>Run SQL Query</h2>
    <form method="POST">
        <textarea name="query" rows="4"
                  placeholder="SELECT * FROM students;"></textarea>
        <button type="submit">Run Query</button>
    </form>

    {% if result is not none %}
        <h2>Query Result</h2>
        {{ result.to_html(classes="table", index=False) | safe }}
    {% endif %}

</div>

</body>
</html>
